@import url('https://fonts.googleapis.com/css?family=Revalia');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 20px;
  font-family: 'Revalia';
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  margin-left: 5px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.line {
  width: 40px;
  height: 3px;
  background-color: #6A45FF;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 30px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.menu-item {
  margin-right: 120px;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  font-family: 'Noto Sans';
  font-weight: 600;
  letter-spacing: 3px;
}

.menu.open {
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFFFFF;
  opacity: 1.23;
  width: 100%;
}

.overlapping-container {
  position: relative;
  top: -420px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlapping-para {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
}

.logo-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.horizontal-strip {
  background-color: #6A45FF;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Noto Sans';
  width: 100%;
  color: #FFFFFF;
  margin-top: 30px;
  letter-spacing: 10px;
}

.Logo-overlapping {
  font-size: 78px;
  color: #FFFFFF;
  font-family: 'Revalia';
  margin-left: 5px;
  font-weight: 400;
}

.strip-text {
  color: #FFFFFF;
  font-family: 'Noto Sans';
  font-size: 32px;
  font-weight: 600;
}

.scroll {
  color: #FFFFFF;
  margin-top: 40px;
  font-size: 16px;
}

.scroll-indicator {
  background-color: #FFFFFF;
  height: 64px;
  width: 2px;
}

.section {
  height: 770px;
}

.slider-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 770px;
}

.slider-image-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.slider-image {
  height: 770px;
  object-fit: cover;
  color: #000000;
}

.section-one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lorem-subtitle {
  background-color: #6A45FF;
  height: 1174px;
  width: 280px;
}

.subtitle-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  left: 0;
  margin-top: 150px;
}

.lorem-text {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Noto Sans';
  letter-spacing: 10px;
  top: 100px;
}

.subtitle-text {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Noto Sans';
  letter-spacing: 5px;
}

.subtitle-image-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  margin-bottom: 60px;
}

.subtitles-image {
  width: 33.3%;
}

.section-two {
  background-color: #DCE1E6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.strip-container {
  width: 280px;
  height: 840px;
  background-color: #6A45FF;
}

.section-two-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 90%;
}

.section-3-image {
  width: 60%;
}

.info-conatiner {
  margin-left: 90px;
}

.section-3-heading {
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Noto Sans';
  letter-spacing: 8px;
}

.strip-devider {
  background-color: #6A45FF;
  height: 8px;
}

.para {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Sans';
  margin-top: 40px;
  display: block;
  text-align: justify;
  letter-spacing: 1px;
}

.lorem-button-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.lorem-button-label {
  color: #000000;
  font-weight: 600;
  font-family: 'Noto Sans';
  font-size: 16px;
}

.arrow {
  margin-left: 30px;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  animation: logoAnimation 5s infinite;
}

.triangle-top-left {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-right: 100px solid #8BFF54;
  top: 0;
  left: 0;
}

.triangle-top-right {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 100px solid #E9FF60;
  top: 0;
  right: 0;
}

.container-4 {
  background-color: #FFFFFF;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle-bottom-left {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 100px solid transparent;
  border-right: 100px solid #6587FF;
  bottom: 0;
  left: 0;
}

.triangle-bottom-right {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 100px solid transparent;
  border-left: 100px solid #FF5252;
  bottom: 0;
  right: 0;
}

.overlapping-logo-image {
  height: 145.4px;
  width: 145.55px;
}

.footer-container {
  height: 392px;
  background-color: #5D6273;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pages-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.footer-devider {
  background-color: #FFFFFF;
  height: 4px;
  margin-top: 40px;
}

.pages-selector {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Noto Sans';
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin-top: 40px;
}

.footer-logo {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  margin-top: 40px;
}

.subtitle-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.footer-devider {
  color: #FFFFFF;
  height: 6px;
  width: 80%;
}

.heading-two {
  display: none;
}



@keyframes logoAnimation {
  0% {
    transform: rotate(45deg) scale(1);
  }

  50% {
    transform: rotate(405deg) scale(1);
  }

  100% {
    transform: rotate(45deg) scale(1);
  }
}

@media (max-width: 810px) {
  .menu-item {
    margin-left: 100px;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    font-family: 'Noto Sans';
    font-weight: 600;
    letter-spacing: 3px;
  }
  .horizontal-strip {
    background-color: transparent;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Sans';
    width: 100%;
    color: #FFFFFF;
    margin-top: 30px;
  }

  .overlapping-para {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
  }

  .overlapping-container {
    position: relative;
    top: -340px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .overlapping-logo-image {
    height: 69.82px;
    width: 69.75px;
  }

  .Logo-overlapping {
    font-size: 36px;
    color: #FFFFFF;
    font-family: 'Revalia';
    margin-left: 5px;
    font-weight: 400;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }

  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
  }

  .navbar {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 48px;
    padding: 10px, 16px, 10px, 16px;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-size: 20px;
  }

  .nav-bar-logo {
    width: 29.52px;
    height: 29.49px;
  }

  .slider-image {
    height: 554px;
    object-fit: cover;
  }

  .section {
    height: 554px;
  }
  .slider-image-wrapper {
    position: relative;
    overflow: hidden;
    height: 554px;
  }

  .lorem-subtitle {
    background-color: #6A45FF;
    opacity: 0.23;
    height: 1181px;
    width: 40px;
  }

  .subtitle-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    flex-direction: column;
  }

  .lorem-text {
    color: #6A45FF;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Noto Sans';
    letter-spacing: 10px;
  }

  .subtitle-text {
    color: #00000F;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Noto Sans';
    letter-spacing: 5px;
  }

  .subtitle-container {
    display: flex;
    width: 100%;
    margin-bottom: 200px;
  }

  .subtitles-image {
    margin-top: 40px;
    height: 256px;
    width: 311px;
  }

  .strip-container {
    height: 654px;
    background-color: #6A45FF;
    opacity: 0.23;
    width: 40px;
  }

  .heading-two {
    margin-bottom: 20px;
    width: 80%;
    left: 0%;
    align-self: flex-start;
  }

  .heading-one {
    display: none;
  }

  .strip-devider-one {
    height: 0;
    display: none;
  }

  .section-two-container {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
  }

  .info-conatiner {
    margin-left: 10px;
    padding-right: 20%;
  }

  .section-3-image {
    align-self: flex-start;
    width: 80%;
  }

  .links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 40px;
  }

  .pages-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
  }

  .pages-selector {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Noto Sans';
    margin-top: 20px;
  }
}